@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Instagram-Telegram bot</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>

<body>
    <div class="backgroundImage"></div>

    <div class="block">
        <div class="logo">
            <div class="title"><h3>Instagram-Telegram bot</h3></div>
        </div>
      
        <div class="info">
            <p class="content">News 1</p>
            <p class="content">News 2</p>
            <p class="content">News 3</p>
            <p class="content">News 4</p>
            <p class="content">News 5</p>
            <p class="content">News 6</p>
        </div>

        <div class="login">
            <div class="loginContainer">
                <form id="loginForm">
                    <p>Login to the Instagram-Telegram bot</p>
                    <br />
                    <br />
                    <div>
                        <label for="login">Login</label>
                        <input name="login" type="text" value="" placeholder="Johnsmith" id="login" />
                    </div>
                    <br />
                    <div>
                        <label for="password">Password</label>
                        <input name="password" type="password" value="" placeholder="Password" id="password" />
                    </div>
                    <br />
                    <br />
                    <div>
                        <button type="submit" id="btnLogin" class="btn">Log In</button>
                    </div>
                    <br />
                    <button class="btn">Sign Up</button>
                </form>
            </div>
        </div>

    </div>

    <footer>
        <div class="contentFooter">
            © 2018 DaWay Team 🍰
        </div>
        
        <div class="contentFooter">
            <div class="links">
                <a href="#">About</a>
                <a href="#">Developers</a>
                <a href="#">Contacts</a>
            </div>
        </div>
    </footer>
</body>

</html>